/* --------------------------------------------- */
/* ------------- ItemListContainer ------------- */
/* --------------------------------------------- */
.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.filteredId {
    font-size:0.9rem;
    padding: 1.5rem 0 1.5rem 4.5rem;
    color: #363535;
}
