/* --------------------------------------------- */
/* ------------------- Footer ------------------ */
/* --------------------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5%;
  background-color: rgba(122, 45, 184, 0.503);
  color: #fff;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.2s ease;
}

.footer a:hover {
  color: #ffdd57;
}

.footer ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.footer p {
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.footer .social-icons a {
  font-size: 1.2rem;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0 1.2rem 0;
  width: 100%;
  background-color: hsla(273, 85%, 16%, 0.842);
  color: white;
  gap: 0.5rem;
}

.bottom-bar p {
  display: flex;
}

.footer-right,
.footer-left {
  display: flex;
  align-items: center;
}

footer img {
  width: 30px;
}

.bottom-bar .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
