/* --------------------------------------------- */
/* -------------------- App -------------------- */
/* --------------------------------------------- */
:root {
  --color-primary: #0070f3;
  --color-primary-hover: #0056b3;
  --color-danger: #e03b3b;
  --color-background: #ffffff;
  --color-text: #333333;
  --color-light-gray: #f0f0f0;
  --border-radius: 6px;
  --font-weight-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f5f5;
  text-decoration: none;
}

a {
  text-decoration: none;
}
