/* --------------------------------------------- */
/* -------------------- Nav -------------------- */
/* --------------------------------------------- */
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: lch(72.65% 53.8 312.67 / 0.864);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.2s ease;
}

nav a:hover {
  color: hsl(59, 98%, 51%);
  text-shadow: hsl(0, 0%, 0%);
}


/* --------------------------------------------- */
/* --------------- Carrito en Nav -------------- */
/* --------------------------------------------- */
.cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.cart-count {
  background-color: #ffdd57;
  color: #333;
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.cart-icon {
  width: 24px;
  height: 24px;
  color: #fff;
}

nav .cart-icon:hover {
  color: hsl(59, 98%, 51%);
  text-shadow: hsl(0, 0%, 0%);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.cart-title{
  padding-right: 2rem;
}

.cart-line{
  padding-left: 1rem;
  padding-right: 1rem;
}
